<p>here's a map</p>
<div class="map" id="view-map"></div>

<div id="view-details">
	<div id="route-details">
		<h2 class="listHeading">Details</h2>
		<div class="listKey">Total time: <span class="listValue">{{hbsMap.total_time}} min.</span></div>
		<div class="listKey">Neighborhoods: <span class="listValue">{{ hbsMap.neighborhood}}</span></div>

		<div id="view-stops">
			<div class="listKey">Total stops: <span class="listValue">{{hbsMap.total_stops}}</span></div>
			<div class="listKey">Places visited: <span class="listValue">{{hbsMap.places}}</span></div>
		</div>
		<div class="userDetails">
				<div class="list-favorites">
						<i class="far fa-heart"> {{hbsMap.total_favorites}}</i>
						<p class="favorites-count"> </p>
				</div>
				<div class="listKey">Creator: <span class="listValue"><a href="#">{{hbsMap.user.username}}</a></span></div>
				<div class="listKey">Created: <span class="listValue">{{ hbsMap.created_at }}</span></div>
    </div>
	</div>

	<div id="guide-notes">
		<h2>Guide Notes</h2>
		<p>{{hbsMap.guide_notes}}</p>
	</div>
</div>


<input id="map-object" type="hidden" value="{{ map }}">
<script src="/javascripts/map.js"></script>