<div class="map" id="view-map"></div>

<div id="view-map-container">
	<div id="view-1">
		<h2 class="listHeading">Details</h2>
		<div class="listKey">Total time: <span class="listValue">{{hbsMap.total_time}} min.</span></div>
		<div class="listKey">Neighborhoods: <span class="listValue">{{ hbsMap.neighborhood}}</span></div>

		<div id="view-stops">
			<div class="listKey">Total stops: <span class="listValue">{{hbsMap.total_stops}}</span></div>
			<div class="listKey">Places visited: <span class="listValue">{{hbsMap.places}}</span></div>
		</div>
		<div class="userDetails">
				<div class="listKey">Creator: <span class="listValue"><a href="#">{{hbsMap.user.username}}</a></span></div>
				<div class="listKey">Created: <span class="listValue">{{ hbsMap.created_at }}</span></div>
    </div>
	</div>

	<div id="viewNotes">
		<h2>Guide Notes</h2>
		<p>{{hbsMap.guide_notes}}</p>
	</div>

	<div id="view-cloneMap">
		<p><b>Like this map?</b></p>
		<div id="viewMapButtons">
			<div id="view-AddFavorites">
					<p id="add-favorites">Add to Favorites: </p>
						<i class="far fa-heart"> {{hbsMap.total_favorites}}</i>
						<p class="favorites-count"></p>
				</div>
				<button id="view-openGoogle"><a href="https://www.google.com/maps/dir/50.852085,+4.354116999999974/50.8536502,+4.3553750999999465/50.8505269,+4.364239099999963/50.8396455,+4.360849499999972/50.848873,+4.346852000000013/@50.8474728,4.3474487,15z/data=!3m1!4b1!4m22!4m21!1m3!2m2!1d4.354117!2d50.852085!1m3!2m2!1d4.3553751!2d50.8536502!1m3!2m2!1d4.3642391!2d50.8505269!1m3!2m2!1d4.3608495!2d50.8396455!1m3!2m2!1d4.346852!2d50.848873!3e2" target="_blank">Open in App</a></button>
				<button id="view-cloneButton"><a href="/create/{{hbsMap._id}}">Clone Map</a></button>
			</div>
		</div>
</div>
{{!-- 
{{hbsMap.google_maps}} --}}


<input id="map-object" type="hidden" value="{{ map }}">
<script src="/javascripts/map.js"></script>